<div class="container">
    <h1>Trang chủ </h1>
    <a href="<%= login_path %>" class="btn btn-outline-primary mt-1">Đăng nhập</a>
	<a href="<%= register_path %>" class="btn btn-outline-primary mt-1">Đăng ký</a>
</div>